<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johnson.router">

    <application>
        <provider
            android:name=".InitProvider"
            android:authorities="com.johnson.router.InitProviderInstaller"
            android:exported="false" />
    </application>
</manifest>